{% extends 'base.html' %}

{% block title %}
<title>Про нас</title>
{% endblock %}

{% block body %}
<div class = "about-page">
    <h1>Про компанію</h1>

    <p> Аптека "Будь здоровий!" - агрегатор аптек, медичних препаратів, товарів для гігієни, здоров'я та краси.</p>
    <p> Наша мета - завжди бути поруч, коли в цьому є необхідність та допомагати клієнтам виглядати та відчувати себе краще.</p>
    <p> Ми пропонуємо якісні лікарські засоби мільйонам людей щодня по території всієї України.
        Наші клієнти довіряють фармацевтам "Аптеки Будь здоровий!" і кожен відвідувач має доступ до професійної консультації в зручних аптечних маркетах мережі.</p>
    <p> Аптеки мережі відрізняє  зручний формат аптечного сервісу: поєднання традицій класичної аптеки зі швидким обслуговуванням маркету.</p>
    <p> Більшість аптек мережі має відкриту зону самообслуговування, завдяки якій клієнти самостійно обирають відповідний товар для здоров'я, отримуючи при цьому кваліфіковану консультацію фахівця.  </p>

    <img class="fotoapt" src="static/img/fotoapt.jpg" height="500" width="840">

    <ul>
        <strong>Основні принципи, на яких ґрунтується сервіс «Аптека Будь здоровий!» - це:</strong>
        <li>сертифікована продукція. Мережа працює тільки з офіційними постачальниками і виробниками,  та має необхідні сертифікати якості та реєстрації на весь асортимент; </li>
        <li>широта вибору товару. Крім багатого асортименту медикаментів, в аптеках представлені категорії засобів гігієни, реабілітації та медичної техніки.
            У нас ви знайдете широкий вибір лікувальної косметики, дитячого харчування і аксесуарів, а також  товарів для майбутніх  мам; </li>
        <li>кваліфікація і рівень обслуговування фахівців. Всі працівники мережі відповідають високому стандарту, щорічно проходячи відповідну атестацію та курси підвищення кваліфікації. </li>
</ul>

    <p>У «Аптеці Будь здоровий!» клієнтам регулярно пропонуються  спеціальні ціни на сезонні товари підвищеного попиту, працюють  акційні пропозиції на комплексні покупки необхідних медикаментів.
    Мережа активно співпрацює з медичними програмами виробників, завдяки яким пацієнти з певними хронічними захворюваннями можуть отримувати спеціальні препарати зі значними знижками.</p>
    <p>Ми прагнемо бути відповідальним, і вести свою діяльність цілісно і гідно по відношенню до наших клієнтів і до суспільства в цілому.</p>

</div>
{% endblock %}