{% extends 'base.html' %}

{% block title %}
<title>Головна сторінка</title>
{% endblock %}

{% block body %}

<div class="wrapper">
    <div class="header-bottom">
        <ul class="nav">
            <li><a href="/products">Ліки</a></li>
            <li><a href="/products">Вітаміни та мінерали</a></li>
            <li><a href="/products">Краса та догляд</a></li>
            <li><a href="/products">Медична техніка</a></li>
            <li><a href="/products">Товари для дітей та мам</a></li>
        </ul>
    </div>
</div>
<section class="banner">
    <div class="wrapper">
        <h1 class="title">Інгалятор Microlife NEB 200</h1>
        <p>Інгалятор - це прилад, який стане в нагоді для лікування захворювань дихальних шляхів. Компресорний інгалятор Microlife NEB 200 має невеликий розмір
            і не займає багато місця, завдяки чому його легко транспортувати та зберігати.</p>
        <a class="btn" href="#">Детальніше</a>
        <div class="grid-item grid-ing-img">
        <img class="grid-ing-img" src="static/img/ingalator.png" height="650" width="750">
        </div>
    </div>
</section>
<section class="catalog">
    <div class="wrapper">
        <div class="grid">
            <div class="grid-item grid-item-title">
                <h2 class="title-h2">Спеціальні пропозиції</h2>
            </div>
            <div class="grid-item grid-item-img">
                <img src="static/img/car.svg">
            </div>
            <div class="grid-item grid-item-catalog">
                <div class="bg-white">
                    <img src="static/img/farm.png" height="200" width="240">
                    <p class="grid-title">Фармазолін наз. краплі</p>
                    <p class="grid-price">36.80 грн. </p>
                    <a class="grid-btn" href="#">Купити</a>
                </div>
            </div>
            <div class="grid-item grid-item-catalog">
                <div class="bg-white">
                    <img src="static/img/novirin.png" height="200" width="240">
                    <p class="grid-title">Новірин</p>
                    <p class="grid-price">229.6 грн. </p>
                    <a class="grid-btn" href="#">Купити</a>
                </div>
            </div>
            <div class="grid-item grid-item-catalog">
                <div class="bg-white">
                    <img src="static/img/boro.png" height="200" width="240">
                    <p class="grid-title">Боро плюс</p>
                    <p class="grid-price">70.35 грн. </p>
                    <a class="grid-btn" href="#">Купити</a>
                </div>
            </div>
            <div class="grid-item grid-item-catalog">
                <div class="bg-white">
                    <img src="static/img/ferveks.png" height="200" width="240">
                    <p class="grid-title">Фервекс лимон</p>
                    <p class="grid-price">143.20 грн. </p>
                    <a class="grid-btn" href="#">Купити</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}