{% extends 'apteka/base.html' %}

{% load static %}

{% block title %}
<title>Контакти</title>
{% endblock %}


{% block body %}

<div class="contact">

    <h1>Наші контакти</h1>

    <strong>Відділ по роботі з клієнтами:</strong>
    <p>+(044) 335-54-12 </p>
    <p>infoapteka@gmail.com</p>
    <strong>Наші реквізити:</strong>
    <p>ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «ФАРМА СТУДІО»</p>
    <p>Юридична адреса:</p>
    <p>02000 м.Київ, проспект Миколи Бажана, 26</p>
    <p>ЄДРПОУ 40922690</p>
    <p>Поточний рахунок 26000504287417 в</p>
    <p>ПАТ «КРЕДІ АГРІКОЛЬ БАНК»</p>
    <p>МФО 320614</p>
    <p>ІПН 409926963533</p>

    <img class="fotomap" src="{% static 'apteka/images/map.jpg' %}" height="500" width="840">

</div>

{% endblock %}